<footer class="vl-footer">
  <div class="vl-footer__container">
    <div class="vl-footer__grid">
      
      <!-- Brand Section -->
      <div class="vl-footer__brand">
        <div class="vl-footer__logo">
          <svg class="vl-footer__logo-svg" fill="none" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd" d="M24 4H6V17.3333V30.6667H24V44H42V30.6667V17.3333H24V4Z" fill="currentColor"
              fill-rule="evenodd"></path>
          </svg>
          <span class="vl-footer__logo-text">Viblooop</span>
        </div>
        <p class="vl-footer__tagline" i18n>Find your vibe, create your loop. The ultimate social discovery platform.</p>
        
        <div class="vl-footer__social">
          @for (social of socialLinks; track social.name) {
            <a [href]="social.url" class="vl-footer__social-link" [title]="social.name">
              <i class="fab" [ngClass]="social.icon"></i>
            </a>
          }
        </div>
      </div>

      <!-- Quick Links -->
      <div class="vl-footer__links-col">
        <h4 class="vl-footer__links-title" i18n>Vibe With Us</h4>
        <ul class="vl-footer__links-list">
          @for (link of quickLinks; track link.label) {
            <li><a class="vl-footer__link" [href]="link.url" i18n>{{link.label}}</a></li>
          }
        </ul>
      </div>

      <!-- Community -->
      <div class="vl-footer__links-col">
        <h4 class="vl-footer__links-title" i18n>Community</h4>
        <ul class="vl-footer__links-list">
          @for (link of communityLinks; track link.label) {
            <li><a class="vl-footer__link" [href]="link.url" i18n>{{link.label}}</a></li>
          }
        </ul>
      </div>

      <!-- Support -->
      <div class="vl-footer__links-col">
        <h4 class="vl-footer__links-title" i18n>Support</h4>
        <ul class="vl-footer__links-list">
          @for (link of supportLinks; track link.label) {
            <li><a class="vl-footer__link" [href]="link.url" i18n>{{link.label}}</a></li>
          }
        </ul>
      </div>

    </div>

    <!-- Bottom Bar -->
    <div class="vl-footer__bottom">
      <div class="vl-footer__copyright">
        <span class="material-symbols-outlined vl-footer__copyright-icon" translate="no">copyright</span>
        <span>{{copyRightInfo}}</span>
      </div>
      <div class="vl-footer__meta">
        <span i18n>Built with 💖 for Vibloopers</span>
      </div>
    </div>
  </div>
</footer>
