<section class="vl-events-list">
  <nav class="vl-breadcrumb" aria-label="Breadcrumb" style="padding-top: 8rem;">
    @for (crumb of breadcrumbs; track crumb.label) {
    <a class="vl-breadcrumb__link" [href]="crumb.url">{{ crumb.label }}</a>
    <span class="material-symbols-outlined vl-breadcrumb__separator" translate="no">chevron_right</span>
    }
    <span class="vl-breadcrumb__current" aria-current="page">{{ activeEventCategory?.title }}</span>
  </nav>

  <main class="vl-main-layout">
    <header class="vl-banner">

      <div class="vl-banner__glow vl-banner__glow--primary"></div>
      <div class="vl-banner__glow vl-banner__glow--secondary"></div>

      <div class="vl-banner__media">
        <img class="vl-banner__img" [src]="activeEventCategory?.image"
          [alt]="activeEventCategory?.title + ' category image'">
        <div class="vl-banner__img-overlay"></div>
      </div>

      <div class="vl-banner__content">
        <div class="vl-banner__text-group">
          <h1 class="vl-banner__title">{{ activeEventCategory?.title }}</h1>
          <p class="vl-banner__description">{{ activeEventCategory?.description }}</p>
        </div>

        <div class="vl-banner__tags">
          @for (tag of activeEventCategory?.tags; track tag) {
          <span class="vl-banner__tag" [ngClass]="'vl-banner__tag--primary'">
            {{ tag }}
          </span>
          }
        </div>
      </div>
    </header>

    <div class="vl-section-controls">
      <h3 class="vl-section-controls__title">Upcoming Events</h3>

      <div class="vl-section-controls__actions">
        <button class="vl-icon-btn" aria-label="Filter events">
          <span class="material-symbols-outlined" translate="no">filter_list</span>
        </button>
        <button class="vl-icon-btn" aria-label="Sort events">
          <span class="material-symbols-outlined" translate="no">sort</span>
        </button>
      </div>
    </div>
  </main>


  <div class="vl-events-list__cards">
    @for (event of activeCategoryEvents; track $index) {
    <vl-event-card [config]="event"></vl-event-card>
    } @empty {
    <p>Keep patient data is loading</p>
    }
  </div>
</section>