<article class="empty-state">
  <div class="empty-state__art" aria-hidden="true">
    <span class="empty-state__sparkle empty-state__sparkle--left">+</span>
    <span class="empty-state__bag material-symbols-outlined" translate="no">local_activity</span>
    <span class="empty-state__sparkle empty-state__sparkle--right">+</span>
    <span class="empty-state__close material-symbols-outlined" translate="no">close</span>
  </div>

  <h3>
    No <span>{{ titleSubject }}</span> plans
    <ng-container *ngIf="titleContext"> {{ titleContext }}</ng-container>
  </h3>

  <p>{{ description }}</p>

  <div class="empty-state__actions">
    <a class="empty-state__button empty-state__button--primary" [routerLink]="createRoute">
      <span class="material-symbols-outlined" translate="no">add</span>
      Create {{ planSubject }} Plan
    </a>
    <button class="empty-state__button empty-state__button--secondary" type="button" (click)="exploreAll.emit()">
      <span class="material-symbols-outlined" translate="no">explore</span>
      Explore All Vibes
    </button>
  </div>
</article>
