<div class="vl-user-profile ">
  <!-- User Header Section -->
  <div class="vl-user-header">
    <div class="vl-user-header__content">
      <img class="vl-user-header__avatar" src="../../../../assets/images/ansari.png" alt="Profile" />
      <div class="vl-user-header__info">
        <h1 class="vl-user-header__name">{{ name }}</h1>
        <div class="vl-user-header__rating">
          <i class="fa-solid fa-star"></i> <span class="rating-value">4.8</span>
          <span class="review-count">(120 reviews)</span>
        </div>
      </div>
    </div>
  </div>

  <!-- User Bio and Tags Section -->
  <div class="vl-user-bio-tags">
    <p class="vl-user-bio-tags__bio">
      "Lover of house parties, spontaneous adventures, and good music. Always looking for the next vibe!"
    </p>

    <div class="vl-user-bio-tags__tag-list">
      <span class="vl-user-bio-tags__tag">
        <i class="fa fa-tag"></i> <strong>House Parties</strong>
      </span>
      <span class="vl-user-bio-tags__tag">
        <i class="fa fa-tag"></i> <strong>Music Festivals</strong>
      </span>
      <span class="vl-user-bio-tags__tag">
        <i class="fa fa-tag"></i> <strong>Travel</strong>
      </span>
      <span class="vl-user-bio-tags__tag">
        <i class="fa fa-tag"></i> <strong>Foodie</strong>
      </span>
      <span class="vl-user-bio-tags__tag">
        <i class="fa fa-tag"></i> <strong>Photography</strong>
      </span>
    </div>
  </div>

  <div class="vl-tab-container">
    @for(tab of tabs; track tab) {
      <div class="tab" [ngClass]="{'active': activeTab === tab}" (click)="setActiveTab(tab)">
        {{ tab }}
      </div>
    }
  </div>
  <div class="vl-tab-content">
    @switch (activeTab) {
      @case ('About') {
        <div class="vl-tab-content__events-attended">
        </div>
      }
      @case ('Photos') {
        <div class="vl-tab-content__events-hosted">
        </div>
      }
      @case ('Reviews') {
        <div class="vl-tab-reviews__gallery">
        </div>
      }
      @case ('Reviews') {
        <div class="vl-tab-reviews__reviews">
        </div>
      }
    }

  </div>