@use "../../../../styles/index" as *;

.vl-header {
  padding: 2rem 5rem;
  text-align: center;

  @include flex($direction: column, $gap: 0.25rem, $align: center, $justify: center);

  &__title {
    font-size: 44px;
    font-weight: 900;
  }

  &__description {
    font-size: 20px;
    width: 70%;
  }

  @include screenSize(sm) {
    padding: 2rem 1rem;

    &__title {
      font-size: 36px;
    }

    &__description {
      font-size: 16px;
      width: 100%;
    }
  }
}
