<div class="vl-user-bio-tags">
    <p class="vl-user-bio-tags__bio">
      "Lover of house parties, spontaneous adventures, and good music. Always looking for the next vibe!"
    </p>
  
    <div class="vl-user-bio-tags__tag-list">
      <span class="vl-user-bio-tags__tag">
        <i class="fab fa-tag"></i> <strong>House Parties</strong>
      </span>
      <span class="vl-user-bio-tags__tag">
        <i class="fa fa-tag"></i> <strong>Music Festivals</strong>
      </span>
      <span class="vl-user-bio-tags__tag">
        <i class="fa fa-tag"></i> <strong>Travel</strong>
      </span>
      <span class="vl-user-bio-tags__tag">
        <i class="fa fa-tag"></i> <strong>Foodie</strong>
      </span>
      <span class="vl-user-bio-tags__tag">
        <i class="fa fa-tag"></i> <strong>Photography</strong>
      </span>
    </div>
  </div>
  