@use "../../../../styles/abstracts/mixins" as *;

.vl-event-hosted-empty {

    &__icon {
        font-size: 2rem;
        color: var(--color-brand-deep);
    }

    &__discription {
        @include flex($direction: column, $align: center, $justify: center, $gap: 1rem);
    }

    &__button {
        padding: 0.5rem 1rem;
        border: 1px solid #d1d5db;
        border-radius: var(--radius-sm);
        background: var(--bg-surface);
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background: var(--bg-surface-container-low);
        }

    }

}
