@use "../../../../styles/index" as *;

:host {
  display: block;
  min-height: 100vh;
  background: var(--surface-dark-1);
  color: var(--color-text-primary);
  font-family: var(--font-heading);
}

.create-form {
  display: block;
}
