@if (!hideHeader) {
  <vl-header />
}

<div class="vl-body-container">
  <router-outlet />
</div>

<router-outlet name="drawer" />

@if ((appDrawerService.drawer$ | async); as activeDrawer) {
  @switch (activeDrawer.type) {
    @case ('create-event') {
      <vl-create-event
        [drawerMode]="activeDrawer.mode"
        [drawerEventId]="activeDrawer.eventId ?? null" />
    }
  }
}

@if (appSplashService.isVisible()) {
  <vl-app-splash-loader
    [isFadingOut]="appSplashService.isFadingOut()"
    [message]="appSplashService.message()"
    [subtitle]="appSplashService.subtitle()"
    [showBrandWatermark]="appSplashService.showBrandWatermark()"
    [showProgressDots]="appSplashService.showProgressDots()" />
}

<vl-global-loader />

@if ((completeProfileService.showPopup$ | async)) {
  <vl-complete-profile
    >
  </vl-complete-profile>
}


@if (!hideFooter) {
  <vl-footer />
}
<vl-scroll-to-top />
<vl-toast-container />
