@use "../../../../styles/index" as *;

.vl-breadcrumb {
  margin-bottom: 1rem;
  padding: 16px 24px;
  background-color: var(--events-list-header-bg);
  box-shadow: var(--card-shadow);
  border-radius: var(--radius-sm);
  width: 100%;

  @include flex($align: center, $justify: space-between);

  &__goback-link {

    .vl-btn {

      .vl-arrow-left {
        margin-right: 1rem;
        transition: 0.3s ease;
      }

      &:hover {
        transform: translateX(4px);

        .vl-arrow-left {
          transform: translateX(-16px);
        }
      }
    }
  }
}
